bin
build
.classpath
.gradle
.project
.settings
.springBeans
.externalToolBuilders
*.class
*.MF
out

# Package Files #
*.war
*.ear


# IntelliJ project files
*.iws
*.ipr
*.iml
.idea

#winmerge backups
*.bak

#log  files
*.log
